<div class="countWrapper">
    <div id="counter-text">
        <span id="charactersRemaining">50</span> characters
    </div>
    <div>Recommended Max 50 characters</div>
</div>


<script>
    function updateCharacterCount(textEntered) {
        const counter = textEntered.length;
        const countRemaining = document.getElementById('charactersRemaining');
        const counterText = document.getElementById('counter-text');
        
        countRemaining.textContent = counter;
        counterText.style.color = counter <= 50 ? "#6c7389" : "red";
    }

    DotCustomFieldApi.ready(() => {
        const field = DotCustomFieldApi.getField('title');
        field.onChange(value => {
            updateCharacterCount(value);
        });
        updateCharacterCount(field.getValue() || '');
    });
    
</script>