<script type="application/javascript">

DotCustomFieldApi.ready(() =>{
	const titleField = DotCustomFieldApi.getField('title');
	const urlField = DotCustomFieldApi.getField('url');
	const friendlyNameField = DotCustomFieldApi.getField('friendlyName');

	const titleBox = document.getElementById('${fieldId}-titleBox');
	titleBox.value = titleField.getValue() || '';

	titleBox.addEventListener('change', () =>{
		const value = titleBox.value;
		const urlValue = urlField.getValue() || '';
		if(urlValue.trim() === ''){
			urlField.setValue(value.toLowerCase().trim().replace(/[^a-zA-Z0-9]+/g,'-').replace(/-+$|^-+/g,''));
		}

		const friendlyNameValue = friendlyNameField.getValue() || '';
		if(friendlyNameValue.trim() === ''){
			friendlyNameField.setValue(value);
		}
	});
});

</script>
<input id="${fieldId}-titleBox"/>